<header class="notice">
  <nav>
    <button [routerLink]="['/home']" routerLinkActive="router-link-active">
      Home
    </button>
    <button [routerLink]="['/login']" routerLinkActive="router-link-active">
      Login
    </button>
    <button [routerLink]="['/signup']" routerLinkActive="router-link-active">
      Sign Up
    </button>
    <button
      *ngIf="isAuthenticated"
      [routerLink]="['/dashboard']"
      routerLinkActive="router-link-active"
    >
      Dashboard
    </button>
    <button
      *ngIf="isAuthenticated"
      [routerLink]="['/preview']"
      routerLinkActive="router-link-active"
    >
      Preview
    </button>
    <button *ngIf="isAuthenticated" (click)="logOut()">Log Out</button>
  </nav>
</header>

<router-outlet></router-outlet>
