.markdown pre {
  background-color: #f5f5f5;
  padding: 1.5rem;
  border-radius: 4px;
  white-space: pre-wrap;
  word-wrap: break-word;
  max-width: 100%;
}

.markdown table {
  @extend .table;
  @extend .is-bordered;
  @extend .is-striped;
  width: 100%;
  display: block;
  overflow-x: auto;
  white-space: nowrap; /* Solo para tablas muy anchas */
}

.markdown img {
  @extend .image;
  @extend .is-16by9; /* Opcional: ajusta según necesidad */
  margin: 1rem 0;
}

.markdown p,
.markdown li {
  max-width: 100%;
  overflow-wrap: break-word;
}