<div class="container is-fluid">
  <div class="section">
    <div class="columns is-centered">
      <div class="column is-full-mobile is-three-quarters-tablet is-half-desktop">
        <div class="box px-2-mobile">
          <ng-container *ngIf="isLoading; else contentLoaded">
          </ng-container>
          
          <ng-template #contentLoaded>
            <p class="title is-size-3-mobile is-size-1-tablet has-text-centered">
              {{ userContent.title }} -
              <span class="has-text-success">{{ userContent.user.username }}</span>
              - {{ userContent.emoji }}
            </p>
            
            <p class="subtitle is-size-6-mobile has-text-centered-mobile">
              {{ userContent.user.username }} a 
              {{ userContent.date_creation | date : "medium" }}
            </p>

            <div class="container">
              <div class="content has-text-centered" style="overflow-x: auto;">
                <markdown
                  lineHighlight lineNumbers commandLine katex mermaid clipboard
                  [data]="userContent.md_content">
                </markdown>
              </div>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>