<div class="container">
  <div class="section">
    <div class="columns is-centered">
      <div class="column is-half">
        <div class="box">
          <p class="title is-1">
            {{ userContent.title }} - {{ userContent.user.username }} -
            {{ userContent.emoji }}
          </p>
          <p class="subtitle">
            {{ userContent.user.username }} a
            {{ userContent.date_creation | date : "medium" }}
          </p>
          <div class="container">
            <div class="content">
              <markdown [data]="userContent.md_content"></markdown>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
