<p class="title is-1 has-text-centered">Blogs más destacados (/^▽^)/:</p>
<hr />
<div class="m-4">
  <div class="container fixed-grid has-3-cols has-1-cols-mobile">
    <div class="grid">
      <div *ngFor="let post of allPostsData; let i = index">
        <div class="card" data-aos="fade-up">
          <a class="js-modal-trigger" [attr.data-target]="'modalId' + i">
            <div class="card-image">
              <figure class="image is-4by3">
                <p class="emoji">{{ post.emoji }}</p>
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <p class="title is-4">{{ post.user.username }}</p>
                  <p class="subtitle is-6"></p>
                </div>
              </div>

              <div class="content">
                {{ post.title }}
                <br />
                <p>{{ post.date_updated | date : "medium" }}</p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<app-featuredpostmodal [allPostsData]="allPostsData"></app-featuredpostmodal>
