<div class="container is-widescreen p-5">
  <p class="title is-1">Inicia sesión:</p>
  <form [formGroup]="loginForm">
    <div class="field">
      <label class="label">Nombre de usuario</label>
      <div class="control has-icons-left has-icons-right">
        <input
          class="input"
          type="text"
          formControlName="username"
          placeholder="Nombre de usuario"
        />
        <span class="icon is-small is-left">
          <i class="fas fa-envelope"></i>
        </span>
        <span
          class="icon is-small is-right"
          *ngIf="
            loginForm.get('username')?.invalid &&
            loginForm.get('username')?.touched
          "
        >
          <i class="fas fa-exclamation-triangle"></i>
        </span>
        <p
          class="help is-danger"
          *ngIf="
            loginForm.get('username')?.errors?.['required'] &&
            loginForm.get('username')?.touched
          "
        >
          Por favor, introduce un nombre de usuario válido.
        </p>
        <p
          class="help is-danger"
          *ngIf="
            loginForm.get('username')?.errors?.['maxlength'] &&
            loginForm.get('username')?.touched
          "
        >
          El nombre de usuario no puede tener más de 15 caracteres.
        </p>
        <p
          class="help is-danger"
          *ngIf="
            loginForm.get('username')?.errors?.['pattern'] &&
            loginForm.get('username')?.touched
          "
        >
          El nombre de usuario no puede contener emojis.
        </p>
      </div>
    </div>

    <div class="field">
      <label class="label">Contraseña</label>
      <div class="control has-icons-left has-icons-right">
        <input
          class="input"
          type="password"
          formControlName="password"
          placeholder="Contraseña"
        />
        <span class="icon is-small is-left">
          <i class="fas fa-lock"></i>
        </span>
        <span
          class="icon is-small is-right"
          *ngIf="
            loginForm.get('password')?.invalid &&
            loginForm.get('password')?.touched
          "
        >
          <i class="fas fa-exclamation-triangle"></i>
        </span>
        <p
          class="help is-danger"
          *ngIf="
            loginForm.get('password')?.invalid &&
            loginForm.get('password')?.touched
          "
        >
          La contraseña debe tener al menos 5 caracteres.
        </p>
      </div>
    </div>
    <div class="container">
      <a
        href=""
        [routerLink]="['/forgot-password']"
        routerLinkActive="router-link-active"
        >¿Has olvidado la contraseña?</a
      >
    </div>

    <div class="field is-grouped m-1">
      <div class="control">
        <button
          (click)="onSubmit()"
          [routerLink]="['/home']"
          routerLinkActive="router-link-active"
          class="button is-link"
          type="submit"
          [disabled]="loginForm.invalid"
        >
          Iniciar Sesión
        </button>
      </div>
      <div class="control">
        <button
          class="button is-link is-light"
          type="reset"
          [routerLink]="['/home']"
          routerLinkActive="router-link-active"
        >
          Cancelar
        </button>
      </div>
    </div>
  </form>
</div>
