<form [formGroup]="loginForm">
  <div class="centered-content">
    <h2>Username:</h2>
    <input
      class="input"
      type="text"
      formControlName="username"
      placeholder="Username input"
    />
    <p
      class="help is-danger"
      *ngIf="
        loginForm.get('username')?.invalid && loginForm.get('username')?.touched
      "
    >
      Please enter a valid username.
    </p>

    <h2>Password:</h2>
    <input
      class="input"
      type="password"
      formControlName="password"
      placeholder="Password input"
    />
    <p
      class="help is-danger"
      *ngIf="
        loginForm.get('password')?.invalid && loginForm.get('password')?.touched
      "
    >
      Password must be at least 5 characters.
    </p>
  </div>
  <button
    (click)="onSubmit()"
    [routerLink]="['/home']"
    routerLinkActive="router-link-active"
    class="button is-link"
    type="submit"
    [disabled]="loginForm.invalid"
  >
    Login
  </button>

  <button type="reset">Cancel</button>
</form>
