<div class="container">
  <p class="title is-1">Blogs de la plataforma:</p>
  <p class="title is-4">
    ¡Mira los blogs que han escrito todos los usuarios de la plataforma!
  </p>
  <div class="container" *ngFor="let post of allPostsData; let i = index">
    <div class="container">
      <p class="title is-2">{{ post.user.username }} - {{ post.title }}</p>
      <a
        class="button is-info"
        href="https://blog.mapach.es/userpage?blog={{ post.user.username }}"
        >Ver blog</a
      >
    </div>
  </div>
</div>
