<div class="m-2">
  <div class="container is-widescreen">
    <p class="title is-1">Blogs de la plataforma:</p>
    <p class="title is-4">
      ¡Mira los blogs que han escrito todos los usuarios de la plataforma!
    </p>

    <div class="field has-addons is-centered m-4">
      <div class="control has-icons-left">
        <input
          class="input"
          type="text"
          placeholder="Buscar blogs..."
          aria-label="Buscar blogs"
          [(ngModel)]="searchQuery"
          (input)="filterPosts()"
        />
        <span class="icon is-left">
          <i class="fas fa-search"></i>
        </span>
      </div>
      <div class="control">
        <button class="button is-info" (click)="filterPosts()">
          Buscar Blogs
        </button>
      </div>
    </div>

    <div class="box m-4" *ngFor="let post of filteredPosts; let i = index">
      <div class="container">
        <p class="title is-2">
          <span class="has-text-success">{{ post.user.username }}</span> -
          {{ post.title }} - {{ post.emoji }}
        </p>
        <p class="subtitle">
          Actualizado el: {{ post.date_updated | date : "medium" }}
        </p>
        <a
          class="button is-primary"
          href="https://blog.mapach.es/userblog?blog={{ post.user.username }}"
          >Ver blog</a
        >
      </div>
    </div>
  </div>
</div>
