<div class="content p-5">
  <h1 class="title">Cómo usar Markdown</h1>
  <p class="subtitle">Una guía rápida para principiantes</p>
  <div class="box">
    <h2 class="title is-4">Encabezados</h2>
    <p>
      Para crear un encabezado, simplemente añade uno o más signos de número (#)
      al comienzo de una línea. El número de signos de número indica el nivel
      del encabezado.
    </p>
    <pre><code># Encabezado de nivel 1
  ## Encabezado de nivel 2
  ### Encabezado de nivel 3</code></pre>
    <h2 class="title is-4">Énfasis</h2>
    <p>
      Puedes añadir énfasis a tu texto usando asteriscos o guiones bajos. Usa un
      solo asterisco o guión bajo para cursiva y dos para negrita.
    </p>
    <pre><code>*cursiva* o _cursiva_
  **negrita** o __negrita__</code></pre>
    <h2 class="title is-4">Listas</h2>
    <p>
      Para crear una lista, simplemente añade guiones, asteriscos o números al
      comienzo de las líneas.
    </p>
    <pre><code>- Elemento de lista
  * Elemento de lista
  1. Elemento numerado</code></pre>
    <h2 class="title is-4">Enlaces</h2>
    <p>
      Puedes crear enlaces envolviendo el texto del enlace en corchetes y la URL
      en paréntesis.
    </p>
    <pre><code>[Texto del enlace](https://www.ejemplo.com)</code></pre>
    <h2 class="title is-4">Imágenes</h2>
    <p>
      Para añadir una imagen, usa una exclamación seguida de corchetes con el
      texto alternativo y paréntesis con la URL de la imagen.
    </p>
    <pre><code>![Texto alternativo](https://www.ejemplo.com/imagen.jpg)</code></pre>
  </div>
</div>
