<div class="container is-widescreen p-5">
  <p class="title is-1">Verificar Cuenta</p>
  <div class="field">
    <div class="control">
      <button class="button is-link" (click)="verifyAccount()">
        Verificar Cuenta
      </button>
    </div>
  </div>

  <app-notificationtoast
    *ngIf="verificationSuccess === true"
    notificationType="verified"
  >
  </app-notificationtoast>

  <app-notificationtoast
    *ngIf="verificationSuccess === false"
    notificationType="verificationError"
  >
  </app-notificationtoast>
</div>
