<div class="container is-widescreen p-5">
  <div *ngIf="notificationType">
    <app-notificationtoast
      [notificationType]="notificationType"
    ></app-notificationtoast>
  </div>
  <p class="title is-1">Olvidé mi Contraseña</p>
  <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
    <div class="field">
      <label class="label">Correo Electrónico</label>
      <div class="control has-icons-left has-icons-right">
        <input
          class="input"
          type="email"
          formControlName="email"
          placeholder="Introduce tu correo electrónico"
        />
        <span class="icon is-small is-left">
          <i class="fas fa-envelope"></i>
        </span>
        <span
          class="icon is-small is-right"
          *ngIf="
            forgotPasswordForm.get('email')?.invalid &&
            forgotPasswordForm.get('email')?.touched
          "
        >
          <i class="fas fa-exclamation-triangle"></i>
        </span>
        <p
          class="help is-danger"
          *ngIf="
            forgotPasswordForm.get('email')?.invalid &&
            forgotPasswordForm.get('email')?.touched
          "
        >
          Por favor, introduce una dirección de correo válida.
        </p>
      </div>
    </div>

    <div class="field is-grouped m-1">
      <div class="control">
        <button
          class="button is-link"
          type="submit"
          [disabled]="forgotPasswordForm.invalid"
        >
          Enviar Correo de Restablecimiento
        </button>
      </div>
    </div>
  </form>

  <div *ngIf="emailSent === true" class="notification is-success">
    <span class="icon">
      <i class="fas fa-check"></i>
    </span>
    <span>¡Correo de restablecimiento de contraseña enviado con éxito!</span>
  </div>
  <div *ngIf="emailSent === false" class="notification is-danger">
    <span class="icon">
      <i class="fas fa-times"></i>
    </span>
    <span
      >Falló el envío del correo de restablecimiento de contraseña. Por favor,
      inténtalo de nuevo.</span
    >
  </div>
</div>
