<div class="container is-widescreen p-5">
  <div *ngIf="notificationType">
    <app-notificationtoast
      [notificationType]="notificationType"
    ></app-notificationtoast>
  </div>
  <p class="title is-1">Regístrate:</p>
  <form [formGroup]="signupForm">
    <div class="field">
      <label class="label">Nombre de usuario</label>
      <div class="control has-icons-left has-icons-right">
        <input
          class="input"
          type="username"
          formControlName="username"
          placeholder="Nombre de usuario"
        />
        <span class="icon is-small is-left">
          <i class="fas fa-user"></i>
        </span>
        <span
          class="icon is-small is-right"
          *ngIf="
            signupForm.get('username')?.invalid &&
            signupForm.get('username')?.touched
          "
        >
          <i class="fas fa-exclamation-triangle"></i>
        </span>
        <p
          class="help is-danger"
          *ngIf="
            signupForm.get('username')?.errors?.['required'] &&
            signupForm.get('username')?.touched
          "
        >
          Por favor, introduce un nombre de usuario válido.
        </p>
        <p
          class="help is-danger"
          *ngIf="
            signupForm.get('username')?.errors?.['maxlength'] &&
            signupForm.get('username')?.touched
          "
        >
          El nombre de usuario no puede tener más de 15 caracteres.
        </p>
        <p
          class="help is-danger"
          *ngIf="
            signupForm.get('username')?.errors?.['pattern'] &&
            signupForm.get('username')?.touched
          "
        >
          El nombre de usuario no puede contener emojis o caracteres especiales.
        </p>
      </div>
    </div>

    <div class="field">
      <label class="label">Correo electrónico</label>
      <div class="control has-icons-left has-icons-right">
        <input
          class="input"
          type="email"
          formControlName="email"
          placeholder="Correo electrónico"
        />
        <span class="icon is-small is-left">
          <i class="fas fa-envelope"></i>
        </span>
        <span
          class="icon is-small is-right"
          *ngIf="
            signupForm.get('email')?.invalid && signupForm.get('email')?.touched
          "
        >
          <i class="fas fa-exclamation-triangle"></i>
        </span>
        <p
          class="help is-danger"
          *ngIf="
            signupForm.get('email')?.invalid && signupForm.get('email')?.touched
          "
        >
          Por favor, introduce un correo electrónico válido.
        </p>
      </div>
    </div>

    <div class="field">
      <label class="label">Contraseña</label>
      <div class="control has-icons-left has-icons-right">
        <input
          class="input"
          type="password"
          formControlName="password"
          placeholder="Contraseña"
        />
        <span class="icon is-small is-left">
          <i class="fas fa-lock"></i>
        </span>
        <span
          class="icon is-small is-right"
          *ngIf="
            signupForm.get('password')?.invalid &&
            signupForm.get('password')?.touched
          "
        >
          <i class="fas fa-exclamation-triangle"></i>
        </span>
        <p
          class="help is-danger"
          *ngIf="
            signupForm.get('password')?.invalid &&
            signupForm.get('password')?.touched
          "
        >
          La contraseña debe tener al menos 6 caracteres.
        </p>
      </div>
    </div>

    <div class="field is-grouped m-1">
      <div class="control">
        <button
          (click)="onSubmit()"
          class="button is-link"
          type="submit"
          [disabled]="signupForm.invalid"
        >
          Registrarse
        </button>
      </div>
      <div class="control">
        <button
          class="button is-link is-light"
          type="reset"
          [routerLink]="['/home']"
          routerLinkActive="router-link-active"
        >
          Cancelar
        </button>
      </div>
    </div>
  </form>
</div>
