<form [formGroup]="signupForm">
  <div class="centered-content">
    <h2>Username:</h2>
    <input
      type="username"
      formControlName="username"
      placeholder="Username input"
    />
    <p
      class="help is-danger"
      *ngIf="
        signupForm.get('username')?.invalid &&
        signupForm.get('username')?.touched
      "
    >
      Please enter a valid username.
    </p>

    <h2>Email:</h2>
    <input type="email" formControlName="email" placeholder="Email input" />
    <p
      class="help is-danger"
      *ngIf="
        signupForm.get('email')?.invalid && signupForm.get('email')?.touched
      "
    >
      Please enter a valid email.
    </p>

    <h2>Password:</h2>
    <input
      type="password"
      formControlName="password"
      placeholder="Password input"
    />
    <p
      class="help is-danger"
      *ngIf="
        signupForm.get('password')?.invalid &&
        signupForm.get('password')?.touched
      "
    >
      Password must be at least 6 characters.
    </p>
  </div>

  <button
    (click)="onSubmit()"
    class="button is-link"
    type="submit"
    [disabled]="signupForm.invalid"
    [routerLink]="['/login']"
    routerLinkActive="router-link-active"
  >
    Register
  </button>
  <button class="button" type="reset">Cancel</button>
</form>
