<div class="container is-widescreen p-5">
  <div *ngIf="notificationType">
    <app-notificationtoast
      [notificationType]="notificationType"
    ></app-notificationtoast>
  </div>
  <p class="title is-1">Restablecer Contraseña</p>
  <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
    <div class="field">
      <label class="label">Nueva Contraseña</label>
      <div class="control has-icons-left has-icons-right">
        <input
          class="input"
          type="password"
          formControlName="newPassword"
          placeholder="Nueva Contraseña"
        />
        <span class="icon is-small is-left">
          <i class="fas fa-lock"></i>
        </span>
        <span
          class="icon is-small is-right"
          *ngIf="
            resetPasswordForm.get('newPassword')?.invalid &&
            resetPasswordForm.get('newPassword')?.touched
          "
        >
          <i class="fas fa-exclamation-triangle"></i>
        </span>
        <p
          class="help is-danger"
          *ngIf="
            resetPasswordForm.get('newPassword')?.invalid &&
            resetPasswordForm.get('newPassword')?.touched
          "
        >
          La contraseña debe tener al menos 6 caracteres.
        </p>
      </div>
    </div>

    <div class="field">
      <label class="label">Confirmar Contraseña</label>
      <div class="control has-icons-left has-icons-right">
        <input
          class="input"
          type="password"
          formControlName="confirmPassword"
          placeholder="Confirmar Contraseña"
        />
        <span class="icon is-small is-left">
          <i class="fas fa-lock"></i>
        </span>
        <span
          class="icon is-small is-right"
          *ngIf="
            resetPasswordForm.get('confirmPassword')?.invalid &&
            resetPasswordForm.get('confirmPassword')?.touched
          "
        >
          <i class="fas fa-exclamation-triangle"></i>
        </span>
        <p
          class="help is-danger"
          *ngIf="
            resetPasswordForm.get('confirmPassword')?.invalid &&
            resetPasswordForm.get('confirmPassword')?.touched
          "
        >
          La contraseña debe tener al menos 6 caracteres.
        </p>
      </div>
    </div>

    <div class="field is-grouped m-1">
      <div class="control">
        <button
          class="button is-link"
          type="submit"
          [disabled]="resetPasswordForm.invalid"
        >
          Restablecer Contraseña
        </button>
      </div>
      <div class="control">
        <button
          class="button is-link is-light"
          type="reset"
          [routerLink]="['/home']"
          routerLinkActive="router-link-active"
        >
          Cancelar
        </button>
      </div>
    </div>
  </form>
</div>
