<div *ngFor="let post of allPostsData; let i = index">
  <div [attr.id]="'modalId' + i" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">{{ post.user.username }}</p>
        <button class="delete" aria-label="close"></button>
      </header>
      <section class="modal-card-body">
        <p class="subtitle">{{ post.title }}</p>
      </section>
      <a
        [routerLink]="['/userblog?blog={{post.user.username}}']"
        routerLinkActive="router-link-active"
        class="button is-success m-5 p-2"
        >Ver blog</a
      >
    </div>
  </div>
</div>
