<div class="container is-widescreen">
  <h1 class="title is-1">
    {{ current_phrase }} {{ username.charAt(0).toUpperCase()
    }}{{ username.slice(1) }}:
  </h1>
  <p class="subtitle"></p>
  <form [formGroup]="formContent">
    <div class="field">
      <textarea
        id="text_content"
        class="textarea"
        formControlName="text_content"
        placeholder="Write something..."
        [value]="userContent"
        rows="10"
        (input)="markdownContent = formContent.get('text_content')?.value"
      ></textarea>
    </div>
    <button
      class="button is-primary"
      type="submit"
      [disabled]="formContent.invalid"
      (click)="postContent()"
    >
      Subir
    </button>
  </form>
  <hr />
  <div class="preview container p-5 has-text-centered">
    <p class="title is-2">Modo vista previa:</p>
    <hr />
    <div class="content"><markdown [data]="markdownContent"></markdown></div>
  </div>
</div>
