<div [ngSwitch]="notificationType">
  <div *ngSwitchCase="'verify'" class="notification is-warning">
    <button class="delete"></button>
    📧 Se debe verificar el correo de la cuenta.
  </div>

  <div *ngSwitchCase="'verified'" class="notification is-success">
    <button class="delete"></button>
    ✅ Se ha verificado el correo de la cuenta.
  </div>

  <div *ngSwitchCase="'changed'" class="notification is-info">
    <button class="delete"></button>
    🔒 Se ha cambiado la contraseña.
  </div>

  <div *ngSwitchCase="'blogUpload'" class="notification is-success">
    <button class="delete"></button>
    📤 Se ha subido el contenido del blog.
  </div>

  <div *ngSwitchCase="'blogDelete'" class="notification is-success">
    <button class="delete"></button>
    🗑️ Se ha borrado el contenido del blog.
  </div>

  <div *ngSwitchCase="'blogNotFound'" class="notification is-danger">
    <button class="delete"></button>
    ❌ ¡Oh no! Parece que tienes un blog vacio... ¡Hora de escribir algo 🖊️!
  </div>

  <div *ngSwitchCase="'userExists'" class="notification is-danger">
    <button class="delete"></button>
    ❌ El usuario ya existe.
  </div>

  <div *ngSwitchCase="'login'" class="notification is-success">
    <button class="delete"></button>
    👋 Acabas de iniciar sesión. ¡Hola!
  </div>

  <div *ngSwitchCase="'logout'" class="notification is-success">
    <button class="delete"></button>
    👋 Has cerrado sesión correctamente. ¡Adiós!
  </div>

  <div *ngSwitchCase="'loginError'" class="notification is-danger">
    <button class="delete"></button>
    ❌ Usuario o contraseña incorrectos.
  </div>

  <div *ngSwitchCase="'registrationSuccess'" class="notification is-info">
    <button class="delete"></button>
    🎉 Te has registrado correctamente, ahora mira tu correo y haz click en el
    enlace para confirmar tu cuenta.
  </div>

  <div *ngSwitchDefault></div>
</div>
