<div [ngSwitch]="notificationType">
  <div *ngSwitchCase="'verify'" class="notification is-success">
    <button class="delete"></button>
    Se debe verificar el correo de la cuenta.
  </div>

  <div *ngSwitchCase="'verified'" class="notification is-success">
    <button class="delete"></button>
    Se ha verificado el correo de la cuenta.
  </div>

  <div *ngSwitchCase="'changed'" class="notification is-info">
    <button class="delete"></button>
    Se ha cambiado la contraseña.
  </div>

  <div *ngSwitchCase="'blogUpload'" class="notification is-success">
    <button class="delete"></button>
    Se ha subido el contenido del blog.
  </div>

  <div *ngSwitchCase="'blogDelete'" class="notification is-success">
    <button class="delete"></button>
    Se ha borrado el contenido del blog.
  </div>

  <div *ngSwitchCase="'logout'" class="notification is-success">
    <button class="delete"></button>
    Has cerrado sesión correctamente. ¡Adiós 👋!
  </div>

  <div *ngSwitchDefault></div>
</div>
